{% extends "layout.html" %}

{% block body %}

<h1>{{ project.name }}</h1>
<p>
  <form method="POST" action="{{ url_for('projects_update', project_id=project.id) }}">
    <table>
      <tr>
	<td>
	  {{ project_form.name.label }}
	</td>
	<td>
	  {{ project_form.name }}
	</td>
	<td>
	  <ul>
	    {% for error in project_form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" value="Update name"/>
	</td>
      </tr>
    </table>
  </form>
</p>
<h2>Stages</h2>
<p>
  <table>
    {% for stage in project.stages %}
    <tr>
      <td>
	{{ stage.name }}
      </td>
      <td>
	<a href="{{ url_for('stages_delete', project_id=project.id, index = stage.index) }}">
	  Delete
	</a>
      </td>
    </tr>
    {% endfor %}
  </table>
  </p>
<p>
  <form method="POST" action="{{ url_for('stages_create', project_id=project.id) }}">
    <table>
      <tr>
	<td>
	  {{ stage_form.name }}
	</td>
	<td>
	  <ul>
	    {% for error in stage_form.name.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td colspan="3">
	  <input type="submit" value="Add stage"/>
	</td>
      </tr>
    </table>
  </form>
{% endblock %}
